/* .container {
  height: 100vh;
} */

.p-container {
  display: flex;
}
.p-subtitle {
  display: flex;
  justify-content: space-around;
  font-size: medium;
  color: #59b256;
  padding-top: 1rem;
}
.p-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.p-left {
  flex: 1;
  align-items: center;
}

.p-right {
  flex: 1;
}

.p-img {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .p-container {
    flex-direction: column;
  }
  /* .container {
    margin-top: 50px;
  } */

  .p-img {
    width: 50vh;
  }
}
