.card {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: medium;
  font-weight: 400;
  color: rgb(122, 122, 122);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #59b256;
  border-color: #59b256;
}
