.offer-description {
  font-size: small;
  color: rgb(122, 122, 122);
}

.offer-title {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.offer-container {
  margin-right: 1em;
}

@media screen and (max-width: 480px) {
  .offer-item {
    flex-direction: column;
    height: 100%;
  }
  .offer-container {
    height: 100%;
  }
}
